@mmain("Life Tools") {
<div data-role="page" id="page2" class="fade">
    <div data-role="header" data-theme="b">
        <a href="#page" data-role="button" data-icon="home">返回首页</a>
        <h1>生活助手</h1>
    </div>
    <div data-role="content">
        <ul class="keyboard">
            <li> <a class="link-button" href=""> <img src="account_mgr.png" alt="user" height="38" width="39"> </a>
                <label>user</label>
            </li>
            <li> <a class="link-button" href=""> <img src="account_mgr.png" alt="write" height="38" width="39"> </a>
                <label>write</label>
            </li>
            <li> <a class="link-button" href=""> <img src="account_mgr.png" alt="write" height="38" width="39"> </a>
                <label>write</label>
            </li>
            <li> <a class="link-button" href=""> <img src="account_mgr.png" alt="write" height="38" width="39"> </a>
                <label>write</label>
            </li>
            <li> <a class="link-button" href=""> <img src="account_mgr.png" alt="write" height="38" width="39"> </a>
                <label>write</label>
            </li>
            <li> <a class="link-button" href=""> <img src="account_mgr.png" alt="write" height="38" width="39"> </a>
                <label>write</label>
            </li>
        </ul>
    </div>
</div>
}
