@(loginForm: Form[PBLogin],randomID : String)

@import helper._

@mmain("PB Banking") {
     @helper.form(action = routes.Application.login) {
<div data-role="page" id="login" class="fade">
    <div data-role="header" data-theme="b">
        <a href="#index" data-role="button" data-icon="home">返回首页</a>
        <h1>用户登录</h1>
        <a href="@{routes.Application.getReg()}" data-role="button" data-icon="arrow-r">快速注册</a>
    </div><!-- /头部 -->

    <div data-role="content">
            <ul data-role="listview" data-inset="true">
                <li data-role="fieldcontain">
                    <label for="mobileNo">用户名:</label>
                    <input type="text" name="mobileNo" id="mobileNo" value="" maxlength="16" pattern="[0-9]*"  />
                </li>
                <li data-role="fieldcontain">
                    <label for="loginPwd">密码:</label>
                    <input type="password" name="passWord" id="loginPwd" value=""  />
                </li>

                <li data-role="fieldcontain">
                    <label for="loginCapt">验证码:</label>

                    <table>
                        <tr>
                            <td class="left" >
                                <input name="captCode" type="text" id="loginCapt" value="" size="4">
                            </td>
                            <td>
                                <img  style=""  src="@{routes.Application.captcha(randomID)}" width = 60 height = 30
                                       alt=""
                                       onclick="javascript:this.src='@{routes.Application.captcha(randomID)}&random='+Math.random()"/>
                            </td>
                        </tr>
                    </table>
                </li>

                <li data-role="fieldcontain">
                    <input name="autologin" type="checkbox" id="loginAuto" checked  />
                    <label for="loginAuto">自动登录</label>
                </li>
                <li data-role="fieldcontain">
                    <input type="submit" value="登录" data-theme="b" />
                </li>
            </ul>
    </div><!-- /内容 -->
</div>

    }
}
